body{
    height: 100vh;
    background:linear-gradient(to right top,black, white);
    background-attachment: fixed;
}
*{
    scroll-behavior: smooth;
}
/*   Header   */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  text-align: right; 
}
 
.hr1{
  transform: translateY(-20px);
  opacity: 0.15;
  margin-bottom: -10px;
}

.logo {
  display: flex;
  gap: 10px;
}

.logo1 {
  color: rgb(0, 0, 0);
}

.logo2 {
  color: white;
}


/*   Nav   */
.nav1 a {
  color: rgb(3, 4, 9  2);
  margin-left: 12px; 
  font-size: 20px;
  transition: 0.3s ease; 
  text-decoration: none;
  color: #000000;
}

.nav1 a:hover {
  color: #ffffff;
  transform: scale(1.1);
}
/* -------------------------
   "من نحن"
-------------------------- */
.data {
  width: 60%;
  margin: 100px auto;
  text-align: right;
}

.data1 {
  font-size: 32px;
  font-weight: bold;
}

.black {
  color: black;
}

.white {
  color: white;
}

.are {
  color: #000000;
  font-size: 20px;
  margin-top: 10px;
}

.contaner{
    margin-bottom: 50px;
}
@media (max-width:480px) {
    .contaner header .logo h1{
        font-size: 22px;        
    }
    header nav a{
        font-size: 16px;
    }
    .we .data1{
        font-size: 20px;
    }
    .we p{
        font-size: 18px;
    }
    .gools h2 {
        font-size: 20px;
    }
    .gools p {
        font-size: 18px;
    }
}